
:root{
    --Encabezado:#D6EAF8;
    --Enlace:#3dc5ff;
}


#menu{
   background-color: #ffffff  !important;
}
.nav-link{
    color: #3dc5ff;
    font-weight: bold;
}
.nav-link:hover{
    color: #3498DB ;
}

.alto-img{
    height: 680px !important;
    padding-top: 75px;
}

/* Campos de desarrolo*/

#campos{
    background-color: #D6EAF8;
}
#campos .desarrollo{
    width: 100%;
    text-align: center;
    color: #000000;
}

body{
    overflow-x: hidden;
}

  
/* Sección videos*/

#videos{
    background-color: #E8DAEF;
   
}