
:root{
    --Encabezado:#D6EAF8;
    --Enlace:#3dc5ff;
}


#menu{
   background-color: #ffffff  !important;
}
.nav-link{
    color: #3dc5ff;
    font-weight: bold;
}
.nav-link:hover{
    color: #ff3131;
}

.alto-img{
    height: 595px !important;
    padding-top: 75px;

}