
:root{
    --Encabezado:#D6EAF8;
    --Enlace:#ffffff;
}

#logo{
    width: 20%;
}

#menu{
   background-color: #000000  !important;
}
.nav-link{
    color: #ffffff;
    font-weight: bold;
}
.nav-link:hover{
    color: #FF3131;
}